# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public
DIRECT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public

# OpenAI
OPENAI_API_KEY=
